<tr class="info">
  <td colspan="5"><%= group.first.office_slug_name %>, <%= group.size %>条, 扣分<%= group.sum(&:point) %>, 罚款: <%= group.sum(&:fine) %></td>
</tr>
<tr>
  <th>违法时间</th>
  <th>违法代码</th>
  <th>违法地点</th>
  <th>扣分</th>
  <th>罚款</th>
</tr>
<% group.each do |record| %>
  <tr>
    <td><%= record.illegal_time %></td>
    <td><%= record.illegal_code %></td>
    <td><%= record.illegal_sites %></td>
    <td><%= record.point %></td>
    <td><%= record.fine %></td>
  </tr>
<% end %>
